
body *{
    font-family: Rubik, Avenir, sans-serif;
}

.large-title-text {
    font-size: 34px;
}

.title1-text {
    font-size: 28px;
}

.title2-text {
    font-size: 22px;
}

.title3-text {
    font-size: 20px;
}

.headline-text {
    font-weight: 600;
    font-size: 17px;
}

.body-text {
    font-size: 17px;
}

.callout-text {
    font-size: 16px;
}

.subhead-text {
    font-size: 15px;
}

.footnote-text {
    font-size: 13px;
}

.caption1-text {
    font-size: 12px;
}

.caption2-text {
    font-size: 11px;
}

.text-group * {
    margin: 0;
    padding: 2px 0;
}

/* Large (Default)
Style	Weight	Size (Points)	Leading (Points)	Tracking (1/1000em)
Large Title	Regular	34	41	+11
Title 1	Regular	28	34	+13
Title 2	Regular	22	28	+16
Title 3	Regular	20	25	+19
Headline	Semi-Bold	17	22	-24
Body	Regular	17	22	-24
Callout	Regular	16	21	-20
Subhead	Regular	15	20	-16
Footnote	Regular	13	18	-6
Caption 1	Regular	12	16	0
Caption 2	Regular	11	13	+6 */